Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Announcements] (
        [Id] int NOT NULL IDENTITY,
        [Message] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Announcements] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Roles] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(450) NULL,
        [Description] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Roles] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [AttachmentRecipientKeys] (
        [Id] int NOT NULL IDENTITY,
        [AttachmentId] int NOT NULL,
        [UserId] int NOT NULL,
        [DeviceId] int NOT NULL,
        [EncryptedSymmetricKey] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_AttachmentRecipientKeys] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Attachments] (
        [Id] int NOT NULL IDENTITY,
        [MessageId] int NOT NULL,
        [FileName] nvarchar(max) NULL,
        [EncryptedFilePath] nvarchar(max) NULL,
        [FileSize] bigint NOT NULL,
        [MimeType] nvarchar(max) NULL,
        [FileHash] nvarchar(max) NULL,
        [IV] nvarchar(max) NULL,
        [UploadedBy] int NOT NULL,
        [UploaderId] int NULL,
        [UploadedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Attachments] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [AuditLogs] (
        [Id] int NOT NULL IDENTITY,
        [UserId] int NOT NULL,
        [Action] nvarchar(max) NULL,
        [TargetType] nvarchar(max) NULL,
        [TargetId] int NULL,
        [PreviousHash] nvarchar(max) NULL,
        [RecordHash] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        [IpAddress] nvarchar(max) NULL,
        CONSTRAINT [PK_AuditLogs] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [ConversationMembers] (
        [Id] int NOT NULL IDENTITY,
        [ConversationId] int NOT NULL,
        [UserId] int NOT NULL,
        [RoleInConversation] nvarchar(max) NULL,
        [JoinedAt] datetime2 NOT NULL,
        [LeftAt] datetime2 NULL,
        [IsActive] bit NOT NULL,
        CONSTRAINT [PK_ConversationMembers] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Conversations] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(max) NULL,
        [Type] nvarchar(max) NULL,
        [AvatarPath] nvarchar(max) NULL,
        [BackgroundPath] nvarchar(max) NULL,
        [CreatedBy] int NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        [UpdatedAt] datetime2 NULL,
        [LastMessageAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Conversations] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Departments] (
        [Id] int NOT NULL IDENTITY,
        [Name] nvarchar(max) NULL,
        [Description] nvarchar(max) NULL,
        [CreatedBy] int NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_Departments] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Users] (
        [Id] int NOT NULL IDENTITY,
        [PublicKey] nvarchar(max) NULL,
        [EmployeeCode] nvarchar(450) NULL,
        [Username] nvarchar(450) NULL,
        [PasswordHash] nvarchar(max) NULL,
        [PasswordSalt] nvarchar(max) NULL,
        [FullName] nvarchar(max) NULL,
        [Email] nvarchar(max) NULL,
        [Phone] nvarchar(max) NULL,
        [AvatarPath] nvarchar(max) NULL,
        [RoleId] int NULL,
        [DepartmentId] int NULL,
        [IsActive] bit NOT NULL,
        [MustChangePassword] bit NOT NULL,
        [PasswordChangedAt] datetime2 NULL,
        [PasswordExpiresAt] datetime2 NULL,
        [FailedLoginAttempts] int NOT NULL,
        [LockedUntil] datetime2 NULL,
        [LastLogin] datetime2 NULL,
        [CreatedAt] datetime2 NOT NULL,
        [UpdatedAt] datetime2 NULL,
        [IsFirstLogin] bit NOT NULL,
        CONSTRAINT [PK_Users] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Users_Departments_DepartmentId] FOREIGN KEY ([DepartmentId]) REFERENCES [Departments] ([Id]),
        CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Meetings] (
        [Id] int NOT NULL IDENTITY,
        [ConversationId] int NOT NULL,
        [Title] nvarchar(max) NULL,
        [CreatedBy] int NOT NULL,
        [StartedAt] datetime2 NOT NULL,
        [EndedAt] datetime2 NULL,
        [IsRecording] bit NOT NULL,
        CONSTRAINT [PK_Meetings] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Meetings_Conversations_ConversationId] FOREIGN KEY ([ConversationId]) REFERENCES [Conversations] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_Meetings_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [Messages] (
        [Id] int NOT NULL IDENTITY,
        [ConversationId] int NULL,
        [SenderId] int NOT NULL,
        [EncryptedContent] nvarchar(max) NULL,
        [IV] nvarchar(max) NULL,
        [MessageType] nvarchar(max) NULL,
        [ParentMessageId] int NULL,
        [CreatedAt] datetime2 NOT NULL,
        [EditedAt] datetime2 NULL,
        [DeletedAt] datetime2 NULL,
        [IsDeleted] bit NOT NULL,
        CONSTRAINT [PK_Messages] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_Messages_Conversations_ConversationId] FOREIGN KEY ([ConversationId]) REFERENCES [Conversations] ([Id]),
        CONSTRAINT [FK_Messages_Messages_ParentMessageId] FOREIGN KEY ([ParentMessageId]) REFERENCES [Messages] ([Id]),
        CONSTRAINT [FK_Messages_Users_SenderId] FOREIGN KEY ([SenderId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [UserDevices] (
        [Id] int NOT NULL IDENTITY,
        [UserId] int NOT NULL,
        [DeviceIdentifier] nvarchar(450) NULL,
        [DeviceName] nvarchar(max) NULL,
        [DeviceType] nvarchar(max) NULL,
        [DevicePublicKey] nvarchar(max) NULL,
        [RefreshTokenHash] nvarchar(max) NULL,
        [IsActive] bit NOT NULL,
        [IsRevoked] bit NOT NULL,
        [LastSeen] datetime2 NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_UserDevices] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_UserDevices_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [UserKeys] (
        [Id] int NOT NULL IDENTITY,
        [UserId] int NOT NULL,
        [PublicKey] nvarchar(max) NULL,
        [PrivateKeyEncrypted] nvarchar(max) NULL,
        [PrivateKeyRecoveryEncrypted] nvarchar(max) NULL,
        [RecoveryKeyHash] nvarchar(max) NULL,
        [KeyVersion] int NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        [ExpiresAt] datetime2 NULL,
        [IsActive] bit NOT NULL,
        CONSTRAINT [PK_UserKeys] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_UserKeys_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [WorkSchedules] (
        [Id] int NOT NULL IDENTITY,
        [Title] nvarchar(max) NULL,
        [Description] nvarchar(max) NULL,
        [StartTime] datetime2 NOT NULL,
        [EndTime] datetime2 NOT NULL,
        [Location] nvarchar(max) NULL,
        [CreatedBy] int NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        [UpdatedAt] datetime2 NULL,
        CONSTRAINT [PK_WorkSchedules] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_WorkSchedules_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [MeetingParticipants] (
        [Id] int NOT NULL IDENTITY,
        [MeetingId] int NOT NULL,
        [UserId] int NOT NULL,
        [JoinedAt] datetime2 NOT NULL,
        [LeftAt] datetime2 NULL,
        [DurationSeconds] int NULL,
        [IsPresent] bit NOT NULL,
        CONSTRAINT [PK_MeetingParticipants] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_MeetingParticipants_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_MeetingParticipants_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [MeetingRecordings] (
        [Id] int NOT NULL IDENTITY,
        [MeetingId] int NOT NULL,
        [EncryptedFilePath] nvarchar(max) NULL,
        [FileSize] bigint NOT NULL,
        [FileHash] nvarchar(max) NULL,
        [IV] nvarchar(max) NULL,
        [CreatedBy] int NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_MeetingRecordings] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_MeetingRecordings_Meetings_MeetingId] FOREIGN KEY ([MeetingId]) REFERENCES [Meetings] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_MeetingRecordings_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [MessageReads] (
        [Id] int NOT NULL IDENTITY,
        [MessageId] int NOT NULL,
        [UserId] int NOT NULL,
        [DeviceId] int NOT NULL,
        [ReadAt] datetime2 NOT NULL,
        CONSTRAINT [PK_MessageReads] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_MessageReads_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_MessageReads_UserDevices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [UserDevices] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_MessageReads_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [MessageRecipientKeys] (
        [Id] int NOT NULL IDENTITY,
        [MessageId] int NOT NULL,
        [UserId] int NOT NULL,
        [DeviceId] int NOT NULL,
        [EncryptedSymmetricKey] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        CONSTRAINT [PK_MessageRecipientKeys] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_MessageRecipientKeys_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_MessageRecipientKeys_UserDevices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [UserDevices] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_MessageRecipientKeys_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [RefreshTokens] (
        [Id] int NOT NULL IDENTITY,
        [UserId] int NOT NULL,
        [DeviceId] int NOT NULL,
        [TokenHash] nvarchar(450) NULL,
        [ExpiresAt] datetime2 NOT NULL,
        [CreatedAt] datetime2 NOT NULL,
        [IsActive] bit NOT NULL,
        [RevokedAt] datetime2 NULL,
        [ReplacedByTokenId] int NULL,
        CONSTRAINT [PK_RefreshTokens] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_RefreshTokens_RefreshTokens_ReplacedByTokenId] FOREIGN KEY ([ReplacedByTokenId]) REFERENCES [RefreshTokens] ([Id]),
        CONSTRAINT [FK_RefreshTokens_UserDevices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [UserDevices] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [SignalRConnections] (
        [Id] int NOT NULL IDENTITY,
        [UserId] int NOT NULL,
        [DeviceId] int NOT NULL,
        [ConnectionId] nvarchar(max) NULL,
        [ConnectedAt] datetime2 NOT NULL,
        [DisconnectedAt] datetime2 NULL,
        [IsActive] bit NOT NULL,
        CONSTRAINT [PK_SignalRConnections] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_SignalRConnections_UserDevices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [UserDevices] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_SignalRConnections_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [UserSessionKeys] (
        [Id] int NOT NULL IDENTITY,
        [DeviceId] int NOT NULL,
        [SessionPublicKey] nvarchar(max) NULL,
        [SessionPrivateKeyEncrypted] nvarchar(max) NULL,
        [CreatedAt] datetime2 NOT NULL,
        [ExpiresAt] datetime2 NULL,
        [IsActive] bit NOT NULL,
        CONSTRAINT [PK_UserSessionKeys] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_UserSessionKeys_UserDevices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [UserDevices] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE TABLE [WorkScheduleParticipants] (
        [Id] int NOT NULL IDENTITY,
        [WorkScheduleId] int NOT NULL,
        [UserId] int NOT NULL,
        [Status] nvarchar(max) NULL,
        [InvitedAt] datetime2 NOT NULL,
        [RespondedAt] datetime2 NULL,
        CONSTRAINT [PK_WorkScheduleParticipants] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_WorkScheduleParticipants_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
        CONSTRAINT [FK_WorkScheduleParticipants_WorkSchedules_WorkScheduleId] FOREIGN KEY ([WorkScheduleId]) REFERENCES [WorkSchedules] ([Id]) ON DELETE NO ACTION
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE UNIQUE INDEX [IX_AttachmentRecipientKeys_AttachmentId_UserId_DeviceId] ON [AttachmentRecipientKeys] ([AttachmentId], [UserId], [DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_AttachmentRecipientKeys_DeviceId] ON [AttachmentRecipientKeys] ([DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_AttachmentRecipientKeys_UserId] ON [AttachmentRecipientKeys] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Attachments_MessageId] ON [Attachments] ([MessageId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Attachments_UploaderId] ON [Attachments] ([UploaderId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_AuditLogs_UserId] ON [AuditLogs] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE UNIQUE INDEX [IX_ConversationMembers_ConversationId_UserId] ON [ConversationMembers] ([ConversationId], [UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_ConversationMembers_IsActive] ON [ConversationMembers] ([IsActive]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_ConversationMembers_UserId] ON [ConversationMembers] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_ConversationMembers_UserId_IsActive] ON [ConversationMembers] ([UserId], [IsActive]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Conversations_CreatedBy] ON [Conversations] ([CreatedBy]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Conversations_LastMessageAt] ON [Conversations] ([LastMessageAt]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Departments_CreatedBy] ON [Departments] ([CreatedBy]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MeetingParticipants_MeetingId] ON [MeetingParticipants] ([MeetingId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MeetingParticipants_UserId] ON [MeetingParticipants] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MeetingRecordings_CreatedBy] ON [MeetingRecordings] ([CreatedBy]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MeetingRecordings_MeetingId] ON [MeetingRecordings] ([MeetingId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Meetings_ConversationId] ON [Meetings] ([ConversationId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Meetings_CreatedBy] ON [Meetings] ([CreatedBy]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MessageReads_DeviceId] ON [MessageReads] ([DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE UNIQUE INDEX [IX_MessageReads_MessageId_UserId_DeviceId] ON [MessageReads] ([MessageId], [UserId], [DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MessageReads_UserId] ON [MessageReads] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MessageRecipientKeys_DeviceId] ON [MessageRecipientKeys] ([DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE UNIQUE INDEX [IX_MessageRecipientKeys_MessageId_UserId_DeviceId] ON [MessageRecipientKeys] ([MessageId], [UserId], [DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_MessageRecipientKeys_UserId] ON [MessageRecipientKeys] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Messages_ConversationId] ON [Messages] ([ConversationId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Messages_ConversationId_CreatedAt] ON [Messages] ([ConversationId], [CreatedAt]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Messages_CreatedAt] ON [Messages] ([CreatedAt]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Messages_ParentMessageId] ON [Messages] ([ParentMessageId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Messages_SenderId] ON [Messages] ([SenderId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_RefreshTokens_DeviceId] ON [RefreshTokens] ([DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [IX_RefreshTokens_ReplacedByTokenId] ON [RefreshTokens] ([ReplacedByTokenId]) WHERE [ReplacedByTokenId] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [IX_RefreshTokens_TokenHash] ON [RefreshTokens] ([TokenHash]) WHERE [TokenHash] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_RefreshTokens_UserId] ON [RefreshTokens] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [IX_Roles_Name] ON [Roles] ([Name]) WHERE [Name] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_SignalRConnections_DeviceId] ON [SignalRConnections] ([DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_SignalRConnections_IsActive] ON [SignalRConnections] ([IsActive]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_SignalRConnections_UserId] ON [SignalRConnections] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [IX_UserDevices_DeviceIdentifier] ON [UserDevices] ([DeviceIdentifier]) WHERE [DeviceIdentifier] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_UserDevices_UserId] ON [UserDevices] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE UNIQUE INDEX [IX_UserKeys_UserId_KeyVersion] ON [UserKeys] ([UserId], [KeyVersion]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Users_DepartmentId] ON [Users] ([DepartmentId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [IX_Users_EmployeeCode] ON [Users] ([EmployeeCode]) WHERE [EmployeeCode] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_Users_RoleId] ON [Users] ([RoleId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [IX_Users_Username] ON [Users] ([Username]) WHERE [Username] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_UserSessionKeys_DeviceId] ON [UserSessionKeys] ([DeviceId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_WorkScheduleParticipants_UserId] ON [WorkScheduleParticipants] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_WorkScheduleParticipants_WorkScheduleId] ON [WorkScheduleParticipants] ([WorkScheduleId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    CREATE INDEX [IX_WorkSchedules_CreatedBy] ON [WorkSchedules] ([CreatedBy]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [AttachmentRecipientKeys] ADD CONSTRAINT [FK_AttachmentRecipientKeys_Attachments_AttachmentId] FOREIGN KEY ([AttachmentId]) REFERENCES [Attachments] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [AttachmentRecipientKeys] ADD CONSTRAINT [FK_AttachmentRecipientKeys_UserDevices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [UserDevices] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [AttachmentRecipientKeys] ADD CONSTRAINT [FK_AttachmentRecipientKeys_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [Attachments] ADD CONSTRAINT [FK_Attachments_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [Attachments] ADD CONSTRAINT [FK_Attachments_Users_UploaderId] FOREIGN KEY ([UploaderId]) REFERENCES [Users] ([Id]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [AuditLogs] ADD CONSTRAINT [FK_AuditLogs_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [ConversationMembers] ADD CONSTRAINT [FK_ConversationMembers_Conversations_ConversationId] FOREIGN KEY ([ConversationId]) REFERENCES [Conversations] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [ConversationMembers] ADD CONSTRAINT [FK_ConversationMembers_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [Conversations] ADD CONSTRAINT [FK_Conversations_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    ALTER TABLE [Departments] ADD CONSTRAINT [FK_Departments_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION;
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20260325064822_AddEnterpriseFeaturesP2'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20260325064822_AddEnterpriseFeaturesP2', N'8.0.3');
END;
GO

COMMIT;
GO


